@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: yellow;
}


/*navigational section design*/

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #222;
}

.navigation-content .logo {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 10px;
}

.navigation-content a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: .45s ease;
}

.navigation-content a:hover {
    letter-spacing: 10px;
}

.navigation-content i {
    color: #fff;
}

/*hero section design*/

.hero {
    background: #222;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}



h1.text {
    font-size: 3.5rem;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(18),
        cursor .4s step-end infinite alternate;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: yellow;
    color: #222;
}


h3.text {
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(18),
        cursor .4s step-end infinite alternate;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

.hero-content h2,
.hero-content h3 {
    color: #f1f1f1;
    font-weight: 300;
}

.hero-content p {
    margin-top: 2rem;
    color: #fff;
    font-weight: 100;
}

.hero-btn {
    margin-top: 4rem;
}

.hero-btn .btn {
    background-color: yellow;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 1rem 2rem;
    color: #222;
    border-radius: 30px;
}

.hero-btn .btn:hover {
    transition: .45s ease !important;
    transform: translateX(10px);
    opacity: .6;
}

.hero-social-links {

    margin-left: 1rem;
}

.hero-social-links a {
    padding: 6px;
    margin: 0 5px;
    font-size: 2rem;
    display: inline-flex;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    transition: .45s ease;
}

.hero-social-links a:hover {
    background-color: yellow;
    transform: rotate(360deg);
}